@import "base/fonts";
@import "base/reset";
@import "base/variables";

body {
  color: $black;
  background-color: $greyWhite;
}

#popup {
  min-width: 350px;
  padding: 10px 20px;

  header {
    font-size: 20px;
    text-align: center;
  }

  #controls {
    padding: 20px 0 10px;
    text-align: center;
  }
}
